<html>
<head>
    <title>
        <%- title %>
    </title>   
    <link rel="stylesheet" href="/css/layout.css">

    <!-- fontawesome link -->
    <script src="https://kit.fontawesome.com/da2a48d4f5.js" crossorigin="anonymous"></script>
    <!-- jquery link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <%- style %>
</head>
<body>
    <%-include('_header')-%>

    <main id="layout-main">
        <%-body%>
    </main>
   

   <%-include('_footer')-%>

   <%- script %>
  

</body>
</html>