<link rel="stylesheet" href="/css/projectdetails.css">

<div id="projectdetails">
    <div>
        <h1>
            <%= project_details.projectName %>
        </h1>
    
        
        <%= project_details.description %>
    </div>


            <div id="bugs">

  <!-- check for the issue array in project if its length is not 0 that means project has issue  -->
                <% if(project_details.issue && project_details.issue.length>0) {%>
                    
                    <h2>
                       Bug found 
                       <i class="fa-solid fa-bug"></i>
                    </h2>
                    <div id="bug-details">
        
    <!-- iterate over the issue array of that project to show all issues related to it -->
                        <% for(let bug of project_details.issue){%>
                            
                            
                            <div id="issuedetails"></div>
                            <h3>
                                <%= bug.issue_title %>
                            </h3>
                            <p>
                                <%= bug.issue_description %>
                            </p>
                            <p>
                                <%= bug.issue_authorName %>
                            </p>
         
                            <%}%>

                      
                   
                         
                           
                    </div>
    <!-- if issue array has no element print no bugs -->
                    <% }else{ %>
                        
                        <h1>
                            No Bugs 
                            <i class="fa-solid fa-bug-slash"></i>
        
                        </h1>
                        <% } %>
                       
                
        
            </div>
   
    <!-- create issue button -->
    <div id="createissuebtn">
        <a href="/project/createissue/?id=<%= project_id %>&type=Get">
            <div>
                Create Issue
                <i class="fa-solid fa-plus"></i> 
            </div>
                         
        </a>
       
    </div>
</div>
